.vscode
.venv
.env
.DS_Store
node_modules/
*/venv
dist/
build/
*.log
# Allow .gitkeep files in these directories
finaloutput/**
!finaloutput/.gitkeep

logs/**
!logs/.gitkeep

uploads/**
!uploads/.gitkeep
.last_task_id
.last_transcription_id
backend/intermediate/**/*
!backend/intermediate/.gitkeep
